<script src="~/js/moment/locale/ru.js" charset="UTF-8"></script>
<script>
    var dataTable;
    var dataTableAssigned;

    $(document).ready(function () {
        if ("@Localizer["Locale"]" !== "Locale") {
            moment.locale('ru');
        } else {
            moment.locale('en');
        }

    loadDataTable();

});

function loadDataTable() {
    dataTable = $('#DT_TicketsLoad').DataTable({
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" +
            "<'row'<'col-sm-12'i>>" +
            "<'row'<'col-sm-12'p>>" +
            "<'row'<'col-sm-12'tr>>",
            "language": {
                "url": "@Localizer["//cdn.datatables.net/plug-ins/1.10.18/i18n/English.json"]"
            },
        "ajax": {
            "url": "/Ticket/GetAll",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[3, "desc"]],
        "columns": [
            {
                "data": "id", "width": "20%", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description", "visible": false },
            {

                "data": "created", "render": function (data, type, full, meta) {
                    if(type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            },
            {
                "data": "ticketPriority", "render": function (data, type, full, meta) {
                    if (type == 'display')
                    {
                        if (data === 3) {
                            return `<span class='priority high'>@Localizer["High"]</span>`;
                        }
                        if (data === 2) {
                            return `<span class='priority medium'>@Localizer["Medium"]</span>`;
                        }
                        if (data === 1) {
                            return `<span class='priority low'>@Localizer["Low"]</span>`;
                        }
                            return `<span class='priority none'>@Localizer["None"]</span>`;
                    }
                        return data;
                    }
            },
            { "data": "project.name", "visible": true },
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a href="/Ticket/AssignUser/${data}" style='cursor:pointer;'>@Localizer["Assign"]</a>
                        <br/>
                        <a href="#" style='cursor:pointer;' onclick=Delete('/Ticket/Resolve?id='+${data})>@Localizer["Resolve"]</a></div>`;
                }
            }
        ],
    "createdRow": function ( row, data, index ) {
        $("td", row).attr("title", data.description);
    },
        "width": "100%"
    });

    dataTableAssigned = $('#DT_AssignedTicketsLoad').DataTable({
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'l>>" +
            "<'row'<'col-sm-12'i>>" +
            "<'row'<'col-sm-12'p>>" +
            "<'row'<'col-sm-12'tr>>",
        "language": {
            "url": "@Localizer["//cdn.datatables.net/plug-ins/1.10.18/i18n/English.json"]"
        },
        "ajax": {
            "url": "/Ticket/GetAllAssigned",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[3, "desc"]],

        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description", "visible" : false},
            {

                "data": "created", "render": function (data, type, full, meta) {
                    if(type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            }, {
                "data": "ticketPriority", "render": function (data, type, full, meta) {
                    if (type == 'display')
                    {
                        if (data === 3) {
                            return `<span class='priority high'>@Localizer["High"]</span>`;
                        }
                        if (data === 2) {
                            return `<span class='priority medium'>@Localizer["Medium"]</span>`;
                        }
                        if (data === 1) {
                            return `<span class='priority low'>@Localizer["Low"]</span>`;
                        }
                            return `<span class='priority none'>@Localizer["None"]</span>`;
                    }
                        return data;
                    }
            },
            { "data": "project.name", "visible": true },
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a href="/Ticket/AssignUser/${data}" style='cursor:pointer;'>@Localizer["Assign"]</a>
                        <br/>
                        <a href="#" style='cursor:pointer;' onclick=Delete('/Ticket/Resolve?id='+${data})>@Localizer["Resolve"]</a></div>`;
                }
            }
        ],
            "createdRow": function ( row, data, index ) {
        $("td", row).attr("title", data.description);
    },
        "width": "100%"
    });
}
</script>