<script src="~/js/moment/locale/ru.js" charset="UTF-8"></script>
<script>
    var dataTable;
    var dataTableAssigned;

    $(document).ready(function () {
        if ("@Localizer["Locale"]" !== "Locale") {
            moment.locale('ru');
        } else {
            moment.locale('en');
        }

    loadDataTable();

});

function loadDataTable() {
    dataTable = $('#DT_TicketsLoad').DataTable({
        "ajax": {
            "url": "/Ticket/GetAll",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[3, "desc"]],
        "columns": [
            {
                "data": "id", "width": "20%", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description", "visible" : false},
            {

                "data": "created", "render": function (data, type, full, meta) {
                    if(type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            },
            {
                "data": "ticketPriority", "render": function (data, type, full, meta) {
                    if (type == 'display') {
                                        if (data === 3) {
                    return "@Localizer["High"]";
                }
                if (data === 2) {
                    return "@Localizer["Medium"]";
                }
                                if (data === 1) {
                    return "@Localizer["Low"]";
                }
                    return "@Localizer["None"]";
                    }
                    return data;
                    }
},
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a href="/Ticket/AssignUser/${data}" style='cursor:pointer;'>@Localizer["Assign"]</a>
                        <br/>
                        <a href="#" style='cursor:pointer;' onclick=Delete('/Ticket/Resolve?id='+${data})>@Localizer["Resolve"]</a></div>`;
                }
            }
        ],
    "createdRow": function ( row, data, index ) {
        $("td", row).attr("title", data.description);
    },
        "language": {
            "emptyTable": "@Localizer["Nothing yet"]",
                "loadingRecords" : "Please wait warmly"
        },
        "width": "100%"
    });

    dataTableAssigned = $('#DT_AssignedTicketsLoad').DataTable({
        "ajax": {
            "url": "/Ticket/GetAllAssigned",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[3, "desc"]],

        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description", "visible" : false},
            {

                "data": "created", "render": function (data, type, full, meta) {
                    if(type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            }, {
                "data": "ticketPriority", "render": function (data, type, full, meta) {
                    if (type == 'display')
                    {
                        if (data === 3) {
                            return "@Localizer["High"]";
                        }
                        if (data === 2) {
                            return "@Localizer["Medium"]";
                        }
                        if (data === 1) {
                            return "@Localizer["Low"]";
                        }
                        return "@Localizer["None"]";
                    }
                        return data;
                    }
                },
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a href="/Ticket/AssignUser/${data}" style='cursor:pointer;'>@Localizer["Assign"]</a>
                        <br/>
                        <a href="#" style='cursor:pointer;' onclick=Delete('/Ticket/Resolve?id='+${data})>@Localizer["Resolve"]</a></div>`;
                }
            }
        ],
            "createdRow": function ( row, data, index ) {
        $("td", row).attr("title", data.description);
    },
        "language": {
            "emptyTable": "@Localizer["Nothing yet"]",
                "loadingRecords" : "Please wait warmly"
        },
        "width": "100%"
    });
}
</script>