@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="d-flex justify-content-center h-100">
    <div class="card" style="border-radius:20px">
        <div class="card-header" >
            <div class="d-flex justify-content-between align-items-center">
                <h3>@Localizer["Sign In"]</h3>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="UserName" class="form-control" />
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="row align-items-center remember">
                    <input asp-for="RememberMe" id="remember" />
                    <label class="h6 mb-0" for="remember">@Localizer["Remember me"]</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary text-white mr-5">@Localizer["Login"]</button>
                    <a asp-action="LoginAsDemo" class="btn btn-info">@Localizer["Login as Demo"]</a>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <button type="submit" class="btn btn-secondary" name="provider" value="Google" title="@Localizer["Login using Google"]">Google</button>
                </form>
            </div>
        </div>
        <div class="card-footer ">
            <div class="d-flex justify-content-center">
                <a asp-action="Register" class="btn btn-secondary text-white">@Localizer["Create Account"]</a>
            </div>
            </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}