@model CreateTicketViewModel
@using BugTracker.Enums

<div class="col-lg-6 mb-5">
    <div class="card">
        <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">@Localizer["Submit New Ticket"]</h3>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Create" enctype="multipart/form-data" >
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>




                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Project"]</label>
                    <div class="col-md-9">
                        <select asp-for="ProjectId" asp-items="@(new SelectList(Model.Projects,"Id","Name"))" class="form-control"></select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Title"]</label>
                    <div class="col-md-9">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Description"]</label>
                    <div class="col-md-9">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Priority"]</label>

                    <div class="col-md-9">
                        <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<TicketPriority>()" class="form-control"></select>
                        <span asp-validation-for="TicketPriority" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Status"]</label>

                    <div class="col-md-9">
                        <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control"></select>
                        <span asp-validation-for="TicketStatus" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Type"]</label>

                    <div class="col-md-9">
                        <select asp-for="TicketType" asp-items="Html.GetEnumSelectList<TicketType>()" class="form-control"></select>
                        <span asp-validation-for="TicketType" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label text-nowrap">@Localizer["Attachment"]</label>
                    <div class="col-md-9">
                        <input type="file" id="file1" name="file1" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 ml-auto">
                        <button type="submit" class="btn btn-success mr-5">@Localizer["Create"]</button>
                        <a asp-action="Index" class="btn btn-primary">@Localizer["Cancel"]</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
